input {
    box-sizing: border-box;
    margin: 0;
    padding: 4px 11px 4px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1;
    list-style: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    border-radius: 6px;
}