.menu {
    height: 100vh;
    background-color: $primary_hover;
    &_logo{
        img {
            width: 10%;
            margin: 1rem;
            @include breakPoint($small){
                width: 30%;
            }
        }
        h3 {
            color: white;
            font-style: italic;
            font-size: 1.2rem;
        }
    }

    &_collapse {
        flex: 0 0 auto;
        width: 15% !important;
        .menu{
            &_logo{
                img {
                    width: 60%;
                }
            }
            &_btnCollapse{
                margin-left: 95%;
            }
        }
        @include breakPoint($medium){
            width: 10% !important;
        }
        @include breakPoint($large){
            width: 7% !important;
        }
        @include breakPoint($xlarge){
            width: 5% !important;
        }
    }

    &_btnCollapse{
        border: none;
        display: flex;
        font-size: 2rem;
        margin-left: 98%;
        position: relative;
        border-radius:100px;
        color: $primary_color;
        background-color: white;
        z-index: 100;
    }

    &_mobile {
        height: 50vh;
        overflow: auto;
    }

    &_collapseMobile {
        height: 8%;
    }

    &_btnMobile {
        color : white;
        border: none;
        background-color: transparent;
    }

    ul.ant-menu {
        width: 100%;
        background: transparent;
        
        li{
            color: white;
            &.ant-menu-item-selected{
                font-weight: bold;
                background-color: $primary_color;
            }
            
            &.ant-menu-submenu-selected>div.ant-menu-submenu-title {
                color: white;
                font-weight: bold;
                background-color: $primary_color;
            }
            
            &>div {
                color: white;
                &.ant-menu-submenu-selected{
                    color: white;
                }
            }
            
            &.ant-menu-submenu-title:hover, &.ant-menu-item:hover {
                color: white !important;
                font-weight: bold;
            }
            &.ant-menu-item-disabled{
                display: none;
            }
        }
    }
}