/* Variables */
$primary_color: #2e58a6;
$primary_hover: #110979;

$danger_color: #d55050;
$danger_hover: #d55050;

$color_table_head : #6D84A3;

/* Break point */
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
$xxlarge: 1400px;
$xxxlarge: 1600px;
$xxxxlarge: 1980px;

/* clases generales */
.btn__primary, .swal2-confirm{
    color: white !important;
    background-color: $primary_color !important;

    &:hover{
        background-color: $primary_hover !important;
    }
}

.btn__cancel, .swal2-deny, .swal2-cancel{
    color: white !important;
    background-color: $danger_color !important;

    &:hover{
        background-color: $danger_hover !important;
    }
}

.btn__excel {
    color: green !important;
    border: 1px !important;
    border-style: solid !important;
    border-color: green !important;
    box-shadow: 0 4px 9px -4px green !important;
}

/* MIXIN */
@mixin breakPoint($size){
    @media (min-width: $size) {
        @content;
    }
}

@import './components/login';
@import './components/home';
@import './components/menu';
@import './components/contain';
@import './components/table';
@import './components/form';